.git
.github
.env
.env.*
!.env.example
node_modules
vendor
npm-debug.log
yarn-error.log
.phpunit.cache
.phpunit.result.cache
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
Tools-master
*.zip
.idea
.vscode
.fleet
Homestead.json
Homestead.yaml
